body {
    background-color: #252525;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    height: 60px;
    background-color: #2c2c2c;
}

h1 {
    font-size: 70px;
    margin-bottom: 0;
}

.download-section {
    text-align: center;
    justify-content: left;
}

.download-section p {
    font-size: 34px;
    text-justify: inter-word;
    color: white;
}

@media (max-width:960px) {
    .download-section p {
        font-size: 5vw;
        margin-left: 5px;
    }
}

.download-buttons p {
    font-size: 18px;
    color: #AFAfAf;
    font-weight: 300;
    margin-top: 0;
}

.header-container {
    display: flex;
}

.header-container * {
    margin-top: 5px;
}

.header-container img {
    display: inline-block;
    height: 50px;
    margin-right: 20px;
}

.header-container h1 {
    display: inline-block;
    font-size: 40px;
}

.download-buttons {
    margin-top: 50px;
}

.download-button {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 300;
    background-color: #e3002d;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
    margin: 5px;
    transition: background-color .1s;
}

.download-button:hover {
    color: white;
    background-color: #54316F;
    transition: background-color .3s;
}

#screenshot {
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px #54316F;
    box-shadow: 0px 0px 10px 0px #54316F;
    border-radius: 5px;
    width: 80%;
    max-width: 1000px;
}

.bullet-points {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1100px;
    margin: 75px auto;
}

.bullet-point-text {
    vertical-align: middle;
    display: inline-block;
    font-size: 3vw;
    font-weight: 300;
}

.bullet-point-icon {
    display: inline-block;
    vertical-align: middle;
}

.bullet-point-icon img {
    width: 5vw;
}

@media (min-width:1200px) {
    .bullet-point-text {
        font-size: 40px;
    }
    .bullet-point-icon img {
        width: 58px;
    }
}

@media (max-width:800px) {
    .bullet-points {
        flex-direction: column;
        margin-right: 50px;
        align-items: center;
    }
    .bullet-point {
        margin-top: 5%;
    }
    .bullet-point-text {
        font-size: 8vw;
    }
    .bullet-point-icon img {
        width: 12vw;
    }
    #screenshot {
        width: 100%;
    }
}