.supportItemsGrid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.supportItem-title{
    text-align: center;
    font-size: 32px;
}

.supportItem-image{
    text-align: center;
    margin: 50px 0;
}

.supportItem a {
    color: #b91f3e;
}

.supportItem a:hover {
    text-decoration: none;
    color: #b91f3e;
}

.supportItem-content{
    text-align: center;
}

.supportItem-image {
    min-width: 40px;
}

.supportItem-image a {
    min-width: 40px;
}

.supportItem-image a img {
    width: 150px;
}

@media only screen and (max-width: 700px) {

    .supportItemsGrid{
        flex-direction: column;        
    }
    .supportItem{
        margin-bottom: 50px;
    }
}