
.supportItem-title{
    font-size: 32px;
}

.supportItem-image{
    text-align: center;
    margin: 50px;
}

.supportItem a {
    color: #b91f3e;
}

.supportItem a:hover {
    text-decoration: none;
    color: #b91f3e;
}

.supportItem-image a img {
    width: 125px;
}

.supportItemsGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap: 0px 100px;
    grid-template-areas:
      ". . .";
}

.supportItem-image img{
    width: 36px;
}