body {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.fixedHeaderContainer{
    padding: 0;
    position: relative;
}

.headerWrapper.wrapper{
    padding: 0px;
    width: 100%;
    max-width: 100%;
    margin: 0;
    background-color: var(--ifm-navbar-background-color);
}

#mainPage a{
    text-decoration: none;
    color: white;
}

.markdown a {
    color: #b91f3e;
}

.markdown a:hover {
    text-decoration: none;
    color: #b91f3e;
}

header {
    width: 83%;
    margin: 0 auto;
    padding: 20px 25px;
}

.header-container a{
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-container a img {
    width: 40px;
    height: 40px;
}

.header-title {
    font-size: 25px;
}

.navPusher{
    padding-top: 0px;
}

.download-section h1{
    font-size: 50px;
    margin: 80px;
}

.download-section {
    text-align: center;
    justify-content: left;
}

.download-section p {
    font-size: 34px;
    text-justify: inter-word;
    color: white;
}

@media (max-width:960px) {
    .download-section p {
        font-size: 5vw;
        margin-left: 5px;
    }
}

.header-container {
    display: flex;
}

.header-container * {
    margin-top: 5px;
}

.header-container img {
    display: inline-block;
    height: 50px;
    margin-right: 20px;
}

.header-container h1 {
    display: inline-block;
    font-size: 40px;
}

.download-buttons {
    margin-top: 30px;
    animation-delay: 100ms;
}

.download-button {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 300;
    background-color: transparent;
    border: solid 1px grey;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
    margin: 5px;
    transition: .2s;
}

.download-button:hover {
    color: white;
    background-color: #a81b37;
    border: solid 1px #a81b37;
    transition: .3s;
    text-decoration: none;
}

.highlighted-img
{
    -webkit-box-shadow: 0px 0px 5px 0px #e3002d;
    box-shadow: 0px 0px 5px 0px #e3002d;
    border-radius: 5px;
}

#screenshot {
    margin-top: 10px;  
    width: 80%;
    max-width: 1000px;
}

.bullet-points {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 100%;
}

.bullet-point-text {
    vertical-align: middle;
    display: inline-block;
    font-size: 3vw;
    font-weight: 300;
}

.bullet-point-icon {
    display: inline-block;
    vertical-align: middle;
}

.bullet-point-icon img {
    width: 5vw;
}

.bullet-points .blockContent h2 {
    margin-top: 0px;
}

.bullet-points .blockImage img {
    width: 48px;
}

.features-container{
    background-color: #2c2c2c;
    padding: 15px;
    margin-top: 75px;
}

.features{
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-top: 150px;
    flex-direction: column;
}

.feature{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 200px;
}

.feature.right{
    flex-direction: row-reverse;
}

.feature-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feature-title{
    font-size: 33px;
    margin-left: 15px;
}

.feature-description{
    margin-top: 10px;
    margin-left: 4rem;
    max-width: 600px;
    font-weight: 100;
    font-size: 24px;
    line-height: 35px;
}

.feature-description-item{
    margin-bottom: 50px;
}

.feature-gif{
    min-width: 30%;
}

.feature-gif img{
    border: 1px solid black;
    border-radius: 5px;
    max-height: 400px;
}


.feature-icon{
    min-width: 50px;
}

.feature.right .feature-gif{
    margin-right: 20px;
}

.feature-icon img{
    width: 50px;
    visibility: visible;
}

video{
    border-radius: 5px;
    border: 1px black solid;
}

@media (min-width:1200px) {
    .bullet-point-text {
        font-size: 40px;
    }
    .bullet-point-icon img {
        width: 58px;
    }
}

@media (max-width:800px) {
    .bullet-points {
        flex-direction: column;
        margin-right: 50px;
        align-items: center;
    }
    .bullet-point {
        margin-top: 5%;
    }
    .bullet-point-text {
        font-size: 8vw;
    }
    .bullet-point-icon img {
        width: 12vw;
    }
    #screenshot {
        width: 100%;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {

    #screenshot{
        width: 90%;
    }

    .download-section h1{
        font-size: 36px;
    }
}

@media only screen and (max-width: 1024px) {

    .feature{
        max-width: 100%;
        flex-direction: column;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 75px;

    }

    .feature-gif{
        margin: 0 auto;
    }

    .feature.right
    {
        flex-direction: column;
    }

}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}