---
import Layout from '@layouts/Layout.astro';
import '@styles/global.css';

import OpenCollective from "../components/supportUs/OpenCollective.astro";
import SteamSupporterPack from "../components/supportUs/SteamSupporterPack.astro";
import AllTabs from "./_index/AllTabs.astro";
import SampleImages from "./_index/SampleImages.astro";
import Roadmap from "./_index/Roadmap.astro";
import AllReviews from "./_index/reviews/AllReviews.astro";
import CommunityInfo from "./_index/CommunityInfo.astro";
import Perks from './_index/Highlights.astro';
import Highlights from './_index/Highlights.astro';
import Newsletter from './_index/Newsletter.astro';
---

<Layout fullTitle="PixiEditor" description='PixiEditor is a free and open-source universal 2D graphics editor, powered by innovative Node Graph workflow. Create vectors, edit photos, design graphics, make pixel art and animate - all in one app!'>
    <section class="container mx-auto flex flex-col items-center text-center mt-10">
        <h1 class="text-2xl md:text-[40px] font-bold">
            Universal 2D Graphics Editor <br>
            <span class="font-normal">one to rule them all</span></h1>

        <a class="px-button-soft text-lg px-6 py-3 mt-6" href="/download">Download now!</a>
    </section>

    <section class="container max-w-screen-lg mx-auto">
        <AllTabs />
    </section>

    <div class="bg-neutral-900 mt-12 py-12">
        <section class="mx-auto">
            <h1 class="text-center text-3xl">What <span class="font-bold">can you do</span> in PixiEditor?</h1>

            <SampleImages />
        </section>
    </div>

    <section class="container mx-auto py-12">
        <Highlights />
    </section>

    <div class="bg-neutral-900 mt-8 py-12">
        <section class="container mx-auto">
            <h1 class="text-center text-3xl">Explore our <span class="font-bold">open roadmap</span></h1>
            <h2 class="text-center text-white/60 mt-2 mb-6">PixiEditor roadmap is based on open, community proposals and voting system</h2>

            <div class="max-w-5xl mx-auto gap-5 flex flex-col">
            <Roadmap />
            <!-- Centered gray text saying something -->
            <span class="text-center text-white/60">Roadmap refreshes once a day</span>
            <Newsletter />
            </div>
        </section>
    </div>

    <section class="container mx-auto py-12 max-w-screen-lg p-12">
        <h1 class="text-center text-3xl mb-3">Here's what <span class="font-bold">users</span> are saying</h1>
        <p class="text-center text-sm">*Reviews include PixiEditor 1.0 (pixel art editor)</p>

        <AllReviews />
    </section>

    <section class="py-12 text-center bg-neutral-900">
        <h1 class="text-center text-3xl">Become a part of the <span class="font-bold">PixiEditor community</span></h1>

        <CommunityInfo />
    </section>

    <section class="container mx-auto py-12">
        <OpenCollective />
        <div class="mx-12 mt-12">
            <SteamSupporterPack />
        </div>
    </section>

</Layout>