---
interface Props {
    hoverable?: boolean;
}

const { hoverable = true } = Astro.props;
---

<div
    class:list={[hoverable ? "hoverable" : "", "rounded-lg bg-white/5 px-3 py-2"]}>
    <slot />
</div>

<style>
    @reference "tailwindcss";
    @tailwind utilities;

    .hoverable {
        @apply transition cursor-pointer hover:bg-white/10;
    }
</style>
