---
import Lucide from "@components/Lucide.astro";
import type { IndexTabData } from "./TabData";

export const data: IndexTabData = {
    order: 4,
    id: "animdated-art",
    title: "Animated Art",
    colorClass: "pc-animation-pink",
    iconType: Lucide,
    icon: "clapperboard",
}
---

<p><span class="text-pc-animation-pink">Animated</span> Art</p>