---
import Lucide from "@components/Lucide.astro";
import type { IndexTabData } from "./TabData";

export const data: IndexTabData = {
    order: 4,
    id: "animations",
    title: "Animations",
    colorClass: "pc-animation-pink",
    iconType: Lucide,
    icon: "clapperboard",
}
---

<p>Art with <span class="text-pc-animation-pink">Animations</span></p>