---
import Lucide from "@components/Lucide.astro";
import type { IndexTabData } from "./TabData";

export const data: IndexTabData = {
    order: 2,
    id: "raster-art",
    title: "Raster Art",
    colorClass: "pc-raster-green",
    iconType: Lucide,
    icon: "palette"
}
---

<p><span class="text-pc-raster-green">Raster</span> Art</p>