---
import Lucide from "@components/Lucide.astro";
import type { IndexTabData } from "./TabData";

export const data: IndexTabData = {
    order: 3,
    id: "vector-art",
    title: "Vector Art",
    colorClass: "pc-vector-purple",
    iconType: Lucide,
    icon: "pen-tool",
}
---

<p><span class="text-pc-vector-purple">Vector</span> Art</p>